<html>
<head>
<title>
    Purchase for customer
    </title>
</head>
    
<body>
    <h1>Purchase Flight Ticket</h1>
    <h2>flight information:</h2>
    <p>airline name: {{airline_name}}</p>
    <p>flight number: {{flight_num}}</p>
    <p>seats left: {{seats_left}}</p>
    </body>
    <form action={{ url_for('agent_purchase', airline_name=airline_name, flight_num=flight_num, seats_left=seats_left)}} method='POST'>
        <input type="text" name = "customer_email" placeholder="customer email" required/> 
     <input type="submit" value = purchase />
    </form>
    
</html>
