<html>
<head>
<title>Search Flights</title>   
<style type="text/css">
	table, th, td{
		border: 1px solid black;
        }
</style>
</head>
<body>
    <h2>Flights</h2>
    <table>
	<th>Airline Name</th>
	<th>Flight Number</th>
	<th>Department Airport</th>
	<th>Department Time</th>
	<th>Arrival Airport</th>
	<th>Arrival Time</th>
	<th>Price</th>
	<th>Airplane ID</th>
    <th>Seats Remaining</th>
    <th>Purchase Option</th>
{% for line in results %}
	<tr>
	    <td>{{line['airline_name']}}</td>
	    <td>{{line['flight_num']}}</td>
	    <td>{{line['departure_airport']}}</td>
	    <td>{{line['departure_time']}}</td>
	    <td>{{line['arrival_airport']}}</td>
	    <td>{{line['arrival_time']}}</td>
	    <td>{{line['price']}}</td>
	    <td>{{line['airplane_id']}}</td>
        <td>{{line['seats_left']}}</td>
        <td><a href={{ url_for('/customer_purchase', airline_name={{line['airline_name']}}, flight_num={{line['flight_num']}}, seats_left={{line['seats_left']}})}}>purchase</a></td>
	</tr>
{% endfor %}
</table>
    {% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}

    <p><a href='/customer_home'>Return Home</a></p>
</body>
</html>
