<html>
<head>
<title>Track my Spendings</title>    
</head>
<body>
<div>
<h2>My total spendings last 365 days: {{year_spending}}</h2>    
</div>    
<h2>My spendings over six months</h2>
<p id="bar_chart0"></p>
<p id="bar_chart1"></p>
<p id="bar_chart2"></p>
<p id="bar_chart3"></p>
<p id="bar_chart4"></p>
<p id="bar_chart5"></p>
<script>
    var box = "$";
    var i;
    document.getElementById("bar_chart5").innerHTML = "1 month ago | "+box.repeat("{{months_data[5]/500}}")+"|  ---{{months_data[5]}}";
	document.getElementById("bar_chart4").innerHTML = "2 month ago | "+box.repeat("{{months_data[4]/500}}")+"|  ---{{months_data[4]}}";
	document.getElementById("bar_chart3").innerHTML = "3 month ago | "+box.repeat("{{months_data[3]/500}}")+"|  ---{{months_data[3]}}";
	document.getElementById("bar_chart2").innerHTML = "4 month ago | "+box.repeat("{{months_data[2]/500}}")+"|  ---{{months_data[2]}}";
	document.getElementById("bar_chart1").innerHTML = "5 month ago | "+box.repeat("{{months_data[1]/500}}")+"|  ---{{months_data[1]}}";
	document.getElementById("bar_chart0").innerHTML = "6 month ago | "+box.repeat("{{months_data[0]/500}}")+"|  ---{{months_data[0]}}";

</script>
<div >
    
</div>
</body>
</html>
