<html>
<head>
</head>
<body>
<h1>Welcome Staff {{username}}</h1>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

{% if results %}

Upcoming Flight Information:
<table>
	<th>Airline Name</th>
	<th>Flight Number</th>
	<th>Department Airport</th>
	<th>Department Time</th>
	<th>Arrival Airport</th>
	<th>Arrival Time</th>
	<th>Price</th>
	<th>Status</th>
	<th>Airplane ID</th>
{% for line in results %}
	<tr>
	    <td>{{line['airline_name']}}</td>
	    <td>{{line['flight_num']}}</td>
	    <td>{{line['departure_airport']}}</td>
	    <td>{{line['departure_time']}}</td>
	    <td>{{line['arrival_airport']}}</td>
	    <td>{{line['arrival_time']}}</td>
	    <td>{{line['price']}}</td>
	    <td>{{line['status']}}</td>
	    <td>{{line['airplane_id']}}</td>
	</tr>
{% endfor %}
</table>

{% else %}

No Upcoming Flight in 30 Days

{% endif %}

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<a href='/staff_customize_view'>View Flight Based on Custimized Criteria</a></br>
<a href='/staff_customers_on_flight'>View Customers on a Flight</a></br>
<a href='/staff_create_flight'>Create New Flights</a></br>
<a href='/staff_change_flight_status'>Change_Flight_Status</a></br>
<a href='/staff_add_airplane_in_system'>Add New Airplane</a></br>
<a href="/staff_logout">Logout</a></br>
</body>


</html>
