<html>
<head>
</head>
<body>
<h1>Welcome Staff {{username}}</h1>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<form action="/staff_list_customers_on_flight" method="POST">
	Flight Number: 
	<input type="number" name="flight_num" min="0" max="999999999999" required/></br>
</form>

Customer Information:
<table>
	<th>Email</th>
	<th>Name</th>
	<th>Phone_number</th>
{% for line in results %}
	<tr>
	    <td>{{line['email']}}</td>
	    <td>{{line['name']}}</td>
	    <td>{{line['phone_number']}}</td>
	</tr>
{% endfor %}
</table>

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<a href='/staff_customize_view'>View Flight Based on Custimized Criteria</a>
<a href='staff_home'>Go Back to Your Home Page</a>
<a href="/staff_logout">Logout Your Staff Account</a>
</body>


</html>
