<html>
<head>
</head>
<body>
<h1>Welcome Staff {{username}}</h1>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<form action="/staff_update_flight_status" method="POST">
	Flight Number: 
	<input type="number" name="flight_num" min="0" max="999999999999" required/></br>
	New Flight Status:
	<input type="text" name="flight_status" required/></br>
	<input type="submit" name="update status" /></br>
</form>

{% if message %}
	<p>{{message}}</p>	
{% endif %}

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<a href='staff_home'>Go Back to Your Home Page</a></br>
<a href="/staff_logout">Logout Your Staff Account</a></br>
</body>


</html>
